<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<%- include('../partials/Modal'); %>

<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main class="container">
    <h2 class="text-center"> Lets Update your trip :)</h2>
    <form class="jumbotron" action="/index/update" method="post">
        <!-- Colum 1 for New Appointment Modal -->
        <div class="col-lg-10">
            <input class="form-control" name="trip_id" id="trip_id" type="text" value=<%=trip_id%>>
            <label>How do you plan on Traveling by?</label>
            <input class="form-control" name="transportation" id="transportation" type="text">
            <label>When do you plan on leaving? </label>
            <input class="form-control" name="startdate" id="startdate" type="text" >
            <label>When do you plan on coming back?</label>
            <input class="form-control" name="enddate" id="enddate" type="text" >
            <label>What would you like to call this trip? </label>
            <input class="form-control" name="tripname" id="tripname" >
            <br>
            <button type="submit" style="color:#198754" class="btn btn-success">Submit</button>
        </div>
    </form>
</main>
<BR>
<BR>
<BR>
<BR>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>